{% extends 'components/layout.html' %}

{% block title %}Marvel Studios{% endblock title %}

{% block content %}
<h1>The Marvel Movies, In Cronological Order</h1>
<body>
    <ol>
    <li>Captain America: The First Avenger (takes place during WWII)</li>
    <li>Captain Marvel (takes place in 1995)</li>
    <li>Iron Man (takes place in 2010)</li>
    <li>Iron Man 2 (takes place after Iron Man)</li>
    <li>The Incredible Hulk (time unspecified, pre-Avengers)</li>
    <li>Thor (takes place six months before Avengers)</li>
    <li>The Avengers (takes place in 2012)</li>
    <li>Iron Man 3 (takes place six months after The Avengers)</li>
    <li>Thor: Dark World (post-Avengers, pre-Ultron)</li>
    <li>Captain America: Winter Soldier (post-Avengers, pre-Ultron)</li>
    <li>Guardians of the Galaxy (sometime in 2014)</li>
    <li>Guardians of the Galaxy Vol. 2 (after Guardians)</li>
    <li>Avengers: Age of Ultron (takes place in 2015)</li>
    <li>Ant-Man (takes place in 2015)</li>
    <li>Captain America: Civil War (post-Ultron, pre-Infinity War)</li>
    <li>Black Widow (takes place right after Civil War)</li>
    <li>Spider-Man: Homecoming (post-Civil War, pre-Infinity War)</li>
    <li>Doctor Strange (takes place in 2016)</li>
    <li>Black Panther (takes place in 2017)</li>
    <li>Thor: Ragnarok (post-Ultron, pre-Infinity War)</li>
    <li>Avengers: Infinity War (takes place in 2017)</li>
    <li>Ant-Man and The Wasp (ambiguous, but fits nicely between IW and Endgame)</li>
    <li>Avengers: Endgame (starts in 2017, finishes in 2022)</li>
    <li>Spider-Man: Far From Home (eight months post-Endgame)</li>
    <li>Shang-Chi and the Legend of the Ten Rings (set in the present day of the MCU)</li>
    </ol>   
</body>


{% endblock content %}